<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>MacaqueNet</h1>
        <p>A Global Collaboration of Macaque Researchers</p>
      </header>
      <p>MacaqueNet's mission is to facilitate and encourage collaboration between macaque researchers,
allowing us to address questions that single-species studies cannot. Through cross-species comparative research, we can shed light on the drivers of variation in sociality across species, which will help us better understand the evolution of social relationships and friendship.</p>

      <ul class="actions">
        <li><a href="{{ 'about' | absolute_url }}" class="button big">Find Out More</a></li>
      </ul>
    </div>
    
    <span class="image object">
      <img src="assets/images/final email banner MacaqueNet_Logo-WBG_V04-colourA.png" alt="" />
    </span>
  </section>
